<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="shortcut icon" type="image/x-icon" href="{% static '/media/images/bitbug_favicon.ico' %}"media="screen" />
    <script src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
    <script src="{% static 'media/js/jquery.js'%}"></script>
    <link rel="stylesheet" href="{% static 'media/css/style1.css'%}" />
    <title>给管理员留言</title>
</head>
<style>
    #cke_question{
        width: 60%;
        height: 50%;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin:auto;
        border-radius: 10px;
    }
    #submit{
        position: fixed;
        top: 750px;
        right: 380px;
    }
    ul,li{
	list-style: none;
    }
    a:hover{
    text-decoration:none;
    }
    .loginbtn{
        display: flex;
    }
</style>
<body>
        <div class="headbar">
                <div class="container">
                    <a href="/" class="brand" style="font-size: 30px; color: #fff; font-weight:bold; font-family:'Courier New', Courier, monospace;">求真图书馆</a>
                    <div class="headrig">
                        <a href="/shuju/" class="szlibdata">图书馆数据</a>
                        <a href="/liaotian/" class="ask">问图书馆员</a>
    
                        <div class="loginbtn">
                                {% if username == '' and is_staff == False %}
                                <li><a href="/login">登陆</a></li>
                                <li><a href="/zhuce">注册</a></li>
                                {% elif is_staff == True %}
                                <li><a href="/admin">{{ username }}</a></li>
                                <li><a href="/loginout">退出登陆</a></li>
                                {% elif is_staff == False %}
                                <li><a href="/reader">{{ username }}</a></li>
                                <li><a href="/loginout">退出登陆</a></li>
                                {% endif %}
                        </div>
                        <a href="/liuyan/" class="liu">给管理员留言</a>
                    </div>
                </div>
            </div>

    <div id='cz'>
        <textarea name="question"></textarea>

        <button id='submit'>提交</button>
    </div>
    

</body>
<script type="text/javascript">CKEDITOR.replace('question');</script>
<script>
    $('#submit').click(function(){
        let stemTxt = CKEDITOR.instances['question'].getData()
        $.ajax({
            type: "POST",
            url: "/liuyan/",
            data: {
                'stemTxt':stemTxt
            },
            success: function (response) {
                alert('成功')
            }
        });
    })
</script>
</html>